<h1>Welcome to Fresh Hiring</h1>
<p>
  Hi <%= @name %>, 
  
  Click the link below to complete your sign up.

  <%= link "Sign Up", to: sign_in_url(FreshHiringWeb.Endpoint, :verify, @token) %>

  It is valid for 30 minutes.
</p>
